@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no_match_card_container {
  width: 290px;
  height: 420px;
  margin: 5px;
  color: $primary_color;
  @include flexBox(nowrap, column, center, center);

  .no_match_box {
    width: 290px;
    height: 420px;

    @include flexBox(nowrap, column, space-between, center);

    .no_match_text_box {
      height: 100px;
      @include flexBox(nowrap, column, center, center);
    }
    img {
      width: 280px;
      height: 280px;
    }
  }
}
