@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pizza_card_container {
  width: 290px;
  height: 420px;
  // border: 1px solid $border_color;
  border-radius: 10px;
  margin: 5px;
  @include flexBox(nowrap, column, space-around, center);
  //box-shadow: $shadow_color 0px 8px 24px;

  .pizza_info_link {
    text-decoration: none;

    .pizza_img_box {
      width: 260px;
      height: 280px;
      @include flexBox(nowrap, column, space-around, center);
      font-size: large;
      font-weight: bold;
      letter-spacing: 1px;
      color: $secondary_color;

      .pizza_img {
        width: 240px;
        height: 240px;
      }
    }
  }

  .pizza_detail_box {
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
    @include flexBox(nowrap, column, space-between, center);

    .pizza_crust_box {
      height: 38px;
      width: 250px;
      font-size: medium;
      font-weight: bold;
      letter-spacing: 1px;
      color: $secondary_color;
      @include flexBox(nowrap, row, space-between, center);

      .thin_crust_btn {
        height: 100%;
        width: 49.5%;
        border: 1px solid $border_color;
        border-top-left-radius: 10px;
        font-size: medium;
        font-weight: bold;
        background-color: $additional_color;
        color: $secondary_color;
        cursor: pointer;
        @include flexBox(nowrap, column, center, center);
      }
      .thin_crust_btn:hover {
        transition: ease-in-out all 0.3s;
        background-color: $hover_color;
        color: $additional_color;
      }

      .thin_crust_btn:not(:hover) {
        transition: ease-in-out all 0.5s;
      }

      .thick_crust_btn {
        height: 100%;
        width: 49.5%;
        border: 1px solid $border_color;
        border-top-right-radius: 10px;
        font-size: medium;
        font-weight: bold;
        background-color: $additional_color;
        color: $secondary_color;
        cursor: pointer;
        @include flexBox(nowrap, column, center, center);
      }
      .thick_crust_btn:hover {
        transition: ease-in-out all 0.3s;
        background-color: $hover_color;
        color: $additional_color;
      }

      .thick_crust_btn:not(:hover) {
        transition: ease-in-out all 0.5s;
      }
      .selected {
        background-color: $primary_color;
        color: $additional_color;
      }
    }

    .pizza_size_box {
      height: 38px;
      width: 250px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $secondary_color;
      @include flexBox(nowrap, row, space-between, center);

      .small_pizza_size_btn {
        height: 100%;
        width: 49.5%;
        border: 1px solid $border_color;
        border-bottom-left-radius: 10px;
        font-size: medium;
        font-weight: bold;
        background-color: $additional_color;
        color: $secondary_color;
        cursor: pointer;
        @include flexBox(nowrap, column, center, center);
      }

      .small_pizza_size_btn:hover {
        transition: ease-in-out all 0.3s;
        background-color: $hover_color;
        color: $additional_color;
      }

      .small_pizza_size_btn:not(:hover) {
        transition: ease-in-out all 0.5s;
      }
      .big_pizza_size_btn {
        height: 100%;
        width: 49.5%;
        border: 1px solid $border_color;
        border-bottom-right-radius: 10px;
        font-size: medium;
        font-weight: bold;
        background-color: $additional_color;
        color: $secondary_color;
        cursor: pointer;
        @include flexBox(nowrap, column, center, center);
      }
      .big_pizza_size_btn:hover {
        transition: ease-in-out all 0.3s;
        background-color: $hover_color;
        color: $additional_color;
      }

      .big_pizza_size_btn:not(:hover) {
        transition: ease-in-out all 0.5s;
      }
      .selected {
        background-color: $primary_color;
        color: $additional_color;
      }
    }
  }
  .card_bottom_box {
    width: 250px;
    height: 46px;
    @include flexBox(nowrap, row, space-between, center);
    padding: 0 5px;

    .pizza_price {
      font-size: large;
      font-weight: bold;
      letter-spacing: 1px;
      color: $secondary_color;
    }
    .add_to_cart_btn {
      height: 32px;
      width: 70px;
      background-color: $primary_color;
      border: none;
      border-radius: 16px;
      cursor: pointer;
      @include flexBox(nowrap, row, center, center);

      .add_to_cart_icon {
        width: 24px;
        height: 24px;
        color: $additional_color;
      }
      .added_items {
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background-color: $additional_color;
        color: $secondary_color;
        font-weight: bold;
        font-size: medium;
        @include flexBox(nowrap, row, center, center);
      }
    }
    .add_to_cart_btn:hover {
      transition: ease-in-out all 0.2s;
      background-color: $hover_color;
    }
    .add_to_cart_btn:not(:hover) {
      transition: ease-in-out all 0.2s;
    }
    .add_to_cart_btn:active {
      background-color: $primary_color;
    }
  }
}
