@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter_btn {
  height: 38px;
  width: 130px;
  border-radius: 25px;
  background-color: $additional_color;
  border: 1px solid $border_color;
  color: $primary_color;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  @include flexBox(nowrap, row, center, center);
}

.filter_btn:hover {
  transition: ease-in-out all 0.3s;
  background-color: $hover_color;
  color: $additional_color;
}

.filter_btn:not(:hover) {
  transition: ease-in-out all 0.5s;
}

.selected {
  background-color: $primary_color;
  color: $additional_color;
}
