@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pizza_info_container {
  height: 640px;
  width: 100%;
  @include flexBox(nowrap, column, center, center);

  .pizza_img_box {
    height: 300px;
    width: 300px;
    @include flexBox(nowrap, column, center, center);

    .pizza_img {
      width: 300px;
      height: 300px;
    }
  }

  .pizza_detail_box {
    width: 400px;
    height: 280pxpx;
    padding: 10px;
    text-align: center;

    .pizza_details {
      font-size: large;
      text-align: justify;
    }
  }

  @media (max-width: 400px) {
    .pizza_detail_box {
      width: 320px;
      height: 360pxpx;
    }
  }
}

@media (max-width: 400px) {
  .pizza_info_container {
    height: 680px;
    .pizza_img_box {
      height: 280px;
      width: 280px;
      @include flexBox(nowrap, column, center, center);

      .pizza_img {
        width: 280px;
        height: 280px;
      }
    }
  }
}
