@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_container {
  height: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;

  .filtering_box {
    display: none;
    height: 60px;
    width: 100%;
    @include flexBox(nowrap, column, center, center);

    .chevron_icon {
      width: 30px;
      height: 30px;
      color: $primary_color;
      cursor: pointer;
    }
    .filter_icon {
      width: 30px;
      height: 30px;
      color: $primary_color;
      cursor: pointer;
    }
  }

  .pizza_grid_box {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid $border_color;
    border-top: 1px solid $border_color;
  }
  @media (max-width: 1000px) {
    .pizza_grid_box {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  @media (max-width: 640px) {
    .pizza_grid_box {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
}
