@import '../../assets/sass//mixins.scss';
@import '../../assets/sass/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_container {
  height: 120px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid $border_color;
  @include flexBox(nowrap, row, space-between, center);
}

@media (max-width: 640px) {
  .header_container {
    @include flexBox(wrap, column, space-between, center);
    height: 200px;
  }
}
