@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer_container {
  height: 120px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
  @include flexBox(nowrap, column, space-between, center);

  .pagination_box {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .footer_container {
    height: 140px;
  }
}
