@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page_not_found_container {
  height: 800px;
  width: 100%;
  color: $primary_color;
  @include flexBox(nowrap, column, center, center);
  .text_box {
    height: 200px;
    width: 100%;
    @include flexBox(nowrap, column, center, center);
    h1 {
      font-size: 5rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
  .image_box {
    height: 400px;
    width: 100%;
    @include flexBox(nowrap, row, center, center);

    .pizza_slice_img {
      width: 350px;
      height: 350px;
    }
  }
}
@media (max-width: 640px) {
  .page_not_found_container {
    height: fit-content;
  }
}
