* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.7px;
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../src/assets/images/background/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}
