@import '../../assets/sass/mixins.scss';
@import '../..//assets/sass/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paginator_container {
  height: 100%;
  width: 100%;
  @include flexBox(nowrap, row, center, center);

  .page_button_box {
    height: 100%;
    width: 60px;
    @include flexBox(nowrap, row, center, center);

    .page_button {
      height: 38px;
      width: 38px;
      border-radius: 19px;
      border: 2px solid $border_color;
      font-size: medium;
      font-weight: bold;
      color: $primary_color;
      background-color: $additional_color;
      cursor: pointer;
    }

    .selected_page {
      background-color: $primary_color;
      color: $additional_color;
    }
    .page_button:active {
      height: 34px;
      width: 34px;
    }

    .page_button:hover {
      transition: ease-in-out all 0.3s;
      background-color: $hover_color;
      color: $additional_color;
    }

    .page_button:not(:hover) {
      transition: ease-in-out all 0.5s;
    }
  }
}
