@import '../../../assets/sass/mixins.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_container {
  @include flexBox(nowrap, row, space-around, center);
  width: 120px;
}

.logo {
  width: 110px;
}
