@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_container {
  width: 120px;
  @include flexBox(nowrap, row, space-around, center);
}

.logo {
  width: 110px;
  cursor: pointer;
}
